server:
  port: 8083

spring:
  output:
    ansi:
      enabled: always

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sns?useUnicode=yes&characterEncoding=UTF-8&rewriteBatchedStatements=true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: always

  mail:
    host: smtp.gmail.com
    port: 587
    username: gusrms0978@gmail.com
    password: alwr tpek orji emda
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
