server:
  port: 8083

spring:
  output:
    ansi:
      enabled: always

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sns?useUnicode=yes&characterEncoding=UTF-8&rewriteBatchedStatements=true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

  sql:
    init:
      mode: always
      schema-locations: classpath:org/springframework/batch/core/schema-drop-mysql.sql

  mail:
    host: smtp.gmail.com
    port: 587
    username: # 계정
    password: # 계정관리 -> 앱 비밀번호
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
